
.productList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    width: 100%;
    max-width: 1280px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    width: 30%;
    min-width: 300px;
}

.label {
    height: 30px;
    padding: 0px 10px;
    color: white;
    width: fit-content;
}
.new {
    background-color: red;
  }
.hot {
    background-color: green;
  }